<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>jaxwsExample</display-name>

    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>helloWs</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloWs</servlet-name>
        <url-pattern>/service/HelloWs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SayHelloServlet</servlet-name>
        <servlet-class>com.dell.rabbit.javaeesample.servlet.SayHelloServlet</servlet-class>
        <init-param>
            <param-name>WSDL_FILE</param-name>
            <param-value>/META-INF/wsdl/HelloWs.wsdl</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SayHelloServlet</servlet-name>
        <url-pattern>/action/sayHello</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MySQLDBServlet</servlet-name>
        <servlet-class>com.dell.rabbit.javaeesample.servlet.MySQLDBServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MySQLDBServlet</servlet-name>
        <url-pattern>/action/accessMySQL</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
</web-app>